body {
  background-color: #e17055;
}

.bar {
    background: #e17055;
}

.loader {
    background-color: #e17055;
}

.loader-box {
    background: transparent;
    border: 1px solid #fdcb6e;
    color: #fdcb6e;
}

.progress {
    background: #fdcb6e;
    color: #fff;
}

* {
  font-family: Anton, sans-serif;
}

.overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background: rgba(255, 255, 255, 0.6);
}

.menucontainer {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: 900px;
    height: 500px;
    margin: auto;
    border: 2px solid #e17055;
    border-radius: 8px;

    padding-bottom: 32px;
}

.gametitle {
    font-size: 128px;
    text-align: center;
    color: #e17055;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.gametitle::before {
    content: 'Games nobody asked for:';
    color: #2d3436;
    font-size: 28px;
    position: absolute;
}

.menu {
    padding: 0;
    margin: 0;
}

.menu li {
    list-style: none;
    margin-bottom: 16px;
    height: 50px;
}

.menu-button {
    background: transparent;
    width: 128px;
    color: #e17055;
    font-size: 32px;
    margin: auto;
    display: block;
    border: none;
    border-radius: 4px;
}

.menu-button:hover,
.menu-button:active {
    cursor: pointer;
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid #e17055;
}
