body {
  background-color: #e17055;
}

.bar {
    background: #e17055;
}

.loader {
    background-color: #e17055;
}

.loader-box {
    background: transparent;
    border: 1px solid #fdcb6e;
    color: #fdcb6e;
}

.progress {
    background: #fdcb6e;
    color: #fff;
}

* {
  font-family: Anton, sans-serif;
}

a {
    text-decoration: none !important;
}

.overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background: repeating-linear-gradient(45deg, #f1c40f, #f1c40f 30px, #f39c12 0, #f39c12 60px);
}

.dialog-container {
    height: 100vh;
    width: 100vw;
    position: absolute;
}

.dialog {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 900px;
    height: 500px;
    margin: auto;
    /* border: 2px solid #079992; */
    border-radius: 8px;
    background: white;
    padding-bottom: 32px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}

.gametitle {
    font-size: 128px;
    text-align: center;
    color: #e17055;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.gametitle::before {
    content: 'Ludum Dare 46:';
    color: #2d3436;
    font-size: 28px;
    position: absolute;
}

.menu {
    padding: 0;
    margin: 0;
}

.menu li {
    list-style: none;
    margin-bottom: 16px;
    height: 50px;
}

.menu-button {
    background: transparent;
    width: 128px;
    /* color: #e17055; */
    font-size: 32px;
    margin: auto;
    display: block;
    border: 1px solid black;
    /* border: none; */
    border-radius: 4px;
}

.action-button {
    background: transparent;
    width: 200px;
    /* color: #e17055; */
    font-size: 42px;
    margin: auto;
    display: block;
    font-family: Anton, monospace;
    border: 1px solid black;
    /* border: none; */
    border-radius: 4px;
    text-align: center;
    color: black;
}

.menu-button:hover,
.menu-button:active,
.action-button:hover,
.action-button:active {
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid black;
    border-bottom: 4px solid #e17055;
}
